@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
}

#card-container {
    display: flex;
    
    background-color: hsl(0, 0%, 100%);

    width: 45vw;
    height: 60vh;

    margin-top: 20vh;

    border-radius: 4vh;
}

#left-card-container {
    background-color: hsl(250.16deg 97.93% 62.16%);

    border-radius: 4vh;
    
    width: 50%;
    box-sizing: border-box;

    padding: 5% 9%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#your-result {
    color: hsl(253deg 100% 88.24%);
    font-size: 1.5rem;
    font-weight: 500;
}

#marks-circle {
    width: 75%;
    aspect-ratio: 1/1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-image: linear-gradient(to bottom, hsl(254.82deg 70.83% 47.06%), hsl(250.16deg 97.93% 62.16%))
}

#obtained-marks {
    color: hsl(0, 0%, 100%);
    font-size: 4rem;
    font-weight: 700;
}

.total-marks {
    color: hsl(253deg 100% 88.24%);
    font-size: 1rem;
}

#compliment {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 500;
}

#description {
    color: hsl(253deg 100% 88.24%);
    font-size: 1rem;
    text-align: center;
}

#right-card-container {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 5%;
}

#summary {
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem;
    font-weight: 600;
}

#aspect-tiles-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
    padding-bottom: 5%;
}

.aspect-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    border-radius: 1vh;
    box-sizing: border-box;
    padding: 2% 5%;
    margin: 1% 0;
}

.part-1-aspect {
    display: flex;
    padding: 0;
    width: 30%;
}

.part-2-aspect {
    display: flex;
    justify-content: space-between;
    width: 22%;
}

#reaction-bg {
    background-color: hsl(353.33deg 100% 98.24%);
}

#Memory-bg {
    background-color: hsl(32.73deg 100% 97.84%);
}

#Verbal-bg {
    background-color: hsl(158.18deg 73.33% 97.06%);
}

#Visual-bg {
    background-color: hsl(240deg 83.33% 97.65%);
}

#reaction-text {
    color: #f55;   
    margin-left: 15%;
}

#memory-text {
    color: #ffb21e;
    margin-left: 15%;
}

#verbal-text {
    color: #00bb8f;
    margin-left: 15%;
}

#visual-text {
    color: #1125d6;
    margin-left: 15%;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
}

#continue-button {
    background-color: hsl(218, 44%, 22%);
    color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;
    border-radius: 3vh;
}

.text {
    font-family: 'Outfit', sans-serif;
}